In [112]:
import pandas as pd

In [113]:
hospital_data = pd.read_excel('Hospital_dataset.xlsx', sheet_name='Hospital ER')

In [114]:
hospital_data

,date,patient_id,patient_gender,patient_age,patient_sat_score,patient_first_inital,patient_last_name,Full_Name,Doctor,patient_admin_flag,patient_waittime,department_referral,revenue
0,2020-03-20 08:47:00,145-39-5406,Male,69,10.0,H,Glasspool,HGlasspool,Dr. Ben Carson,False,39,NaN,260
1,2020-06-15 11:29:00,316-34-3057,Male,4,NaN,X,Methuen,XMethuen,Dr. Mohamed Oz,True,27,NaN,275
2,2020-06-20 09:13:00,897-46-3852,Female,56,9.0,P,Schubuser,PSchubuser,Dr. Patricia Bath,True,55,General Practice,260
3,2020-02-04 22:34:00,358-31-9711,Female,24,8.0,U,Titcombe,UTitcombe,Dr. Jennifer Doudna,True,31,General Practice,460
4,2020-09-04 17:48:00,289-26-0537,Male,5,NaN,Y,Gionettitti,YGionettitti,Dr. Joycelyn Elders,False,10,Orthopedics,275
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9212,2020-10-25 02:35:00,453-45-2632,Male,60,NaN,A,Crich,ACrich,Dr. Eric Topol,False,34,NaN,540
9213,2019-09-29 15:50:00,136-93-5822,Male,63,NaN,A,Gerbl,AGerbl,Dr. Lisa Sanders,False,55,NaN,540
9214,2020-08-12 14:46:00,822-41-7734,Female,27,NaN,J,Dowall,JDowall,Dr. Francis Collins,False,52,Orthopedics,150
9215,2019-10-11 16:46:00,260-14-4032,Male,53,NaN,W,Rustan,WRustan,Dr. Paul Farmer,True,51,NaN,540
9216,2019-06-01 07:48:00,703-55-3364,Male,30,NaN,H,Hickeringill,HHickeringill,Dr. Eric Topol,True,19,NaN,150

In [115]:
hospital_data['patient_gender'] = hospital_data['patient_gender'].astype('category')
hospital_data['patient_first_inital'] = hospital_data['patient_first_inital'].astype('category')
hospital_data['Doctor'] = hospital_data['Doctor'].astype('category')
hospital_data['department_referral'] = hospital_data['department_referral'].astype('category')

In [120]:
hospital_data

,date,patient_id,patient_gender,patient_age,patient_sat_score,patient_first_inital,patient_last_name,Full_Name,Doctor,patient_admin_flag,patient_waittime,department_referral,revenue
0,2020-03-20 08:47:00,145-39-5406,Male,69,10.0,H,Glasspool,HGlasspool,Dr. Ben Carson,False,39,NaN,260
1,2020-06-15 11:29:00,316-34-3057,Male,4,5.0,X,Methuen,XMethuen,Dr. Mohamed Oz,True,27,NaN,275
2,2020-06-20 09:13:00,897-46-3852,Female,56,9.0,P,Schubuser,PSchubuser,Dr. Patricia Bath,True,55,General Practice,260
3,2020-02-04 22:34:00,358-31-9711,Female,24,8.0,U,Titcombe,UTitcombe,Dr. Jennifer Doudna,True,31,General Practice,460
4,2020-09-04 17:48:00,289-26-0537,Male,5,5.0,Y,Gionettitti,YGionettitti,Dr. Joycelyn Elders,False,10,Orthopedics,275
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9212,2020-10-25 02:35:00,453-45-2632,Male,60,5.0,A,Crich,ACrich,Dr. Eric Topol,False,34,NaN,540
9213,2019-09-29 15:50:00,136-93-5822,Male,63,5.0,A,Gerbl,AGerbl,Dr. Lisa Sanders,False,55,NaN,540
9214,2020-08-12 14:46:00,822-41-7734,Female,27,5.0,J,Dowall,JDowall,Dr. Francis Collins,False,52,Orthopedics,150
9215,2019-10-11 16:46:00,260-14-4032,Male,53,5.0,W,Rustan,WRustan,Dr. Paul Farmer,True,51,NaN,540
9216,2019-06-01 07:48:00,703-55-3364,Male,30,5.0,H,Hickeringill,HHickeringill,Dr. Eric Topol,True,19,NaN,150

In [117]:
hospital_data['patient_sat_score'].fillna(hospital_data['patient_sat_score'].median(), inplace=True)

C:\Users\youssef\AppData\Local\Temp\ipykernel_17616\4198338650.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  hospital_data['patient_sat_score'].fillna(hospital_data['patient_sat_score'].median(), inplace=True)

In [118]:
hospital_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9217 entries, 0 to 9216
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  9217 non-null   datetime64[ns]
 1   patient_id            9217 non-null   object
 2   patient_gender        9217 non-null   category
 3   patient_age           9217 non-null   int64
 4   patient_sat_score     9217 non-null   float64
 5   patient_first_inital  9217 non-null   category
 6   patient_last_name     9217 non-null   object
 7   Full_Name             9217 non-null   object
 8   Doctor                9217 non-null   category
 9   patient_admin_flag    9217 non-null   bool
 10  patient_waittime      9217 non-null   int64
 11  department_referral   3816 non-null   category
 12  revenue               9217 non-null   int64
dtypes: bool(1), category(4), datetime64[ns](1), float64(1), int64(3), object(3)
memory usage: 623.6+ KB

In [119]:
department_referral_mode = hospital_data['department_referral'].value_counts()
department_referral_mode

department_referral
General Practice    1840
Orthopedics          995
Physiotherapy        276
Cardiology           248
Neurology            193
Gastroenterology     178
Renal                 86
Name: count, dtype: int64